img {
  width: 100%;
  height: auto;
  float: left;
}

.green {
  background-color: #cef2e0;
}

.blue {
  background-color: #cedff2;
}

.lightgreen {
  background-color: #f5fffa;
}

.lightblue {
  background-color: #f5faff;
}

.purple {
  background-color: #ddcef2;
}

.lightpurple {
  background-color: #faf5ff;
}